body {
    background-color: #6a79ff;

    .container {
        display: flex;
        width: 100%;
        height: 97vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box {
        display: flex;
        border-radius: 50px;
        background-color: #8994ff;
        width: 15%;
        height: 8%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    input {
        text-align: center;
        width: 45px;
        height: 90%;
        background-color: rgb(192, 208, 229);
        color: royalblue;
        font-size: 1.5em;
        border: none;
        margin-left: 12%;
        margin-right: 12%;
        border-radius: 50%;
        outline: none;
    }

    #btn1,
    #btn2 {
        border-radius: 50%;
        width: 45px;
        color: #fff;
        font-size: 1.5em;
        height: 90%;
        background: none;
        border: none;
        outline: none;
    }

    #btn1:hover,
    #btn2:hover {
        outline: none;
        color: #000;
    }

    #btn3 {
        background-color: rgb(192, 208, 229);
        border: none;
        margin: 1%;
        width: 8%;
        height: 5%;
        color: rgb(16, 67, 221);
        font-size: 1.1em;
        border-radius: 50px;
        font-size: 15px;
        outline: none;
    }
}
