body {
  background-image: linear-gradient(#fd6041, #e24271);
  background-size: cover;
  background-repeat: no-repeat;
  height: 651px;

  .container {
    background-color: #fff;
    margin-left: 33%;
    width: 32%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 10px 20px 14px 0px #000;
  }

  .dates {
    color: #e24271;
    text-align: left;
    margin-left: 5%;
    padding-top: 10%;
    font-weight: bold;
  }

  .leftTodos {
    color: black;
    text-align: left;
    margin-left: 5%;
    padding-top: 3%;
  }

  input[type="text"] {
    width: 70%;
    height: 30px;
    margin-right: 2%;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(128, 128, 128, 0.2);
  }

  #addToDo {
    width: 10%;
    height: 32px;
    border: none;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 5px;
  }

  .todolist {
    font-size: small;
    text-align: left;
    width: 88%;
    height: auto;
    margin-left: 6%;
    margin-top: 3%;
  }

  .task {
    margin-bottom: 1%;
    width: 99%;
    height: 30px;
    color: black;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 5px;
  }

  input[type="checkbox"] {
    margin: 2.3%;
    overflow: hidden;
  }

  #deletebtn {
    background: none;
    border: none;
    outline: none;
    margin-right: 5px;
  }
}
